# C/C++
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# Build dirs
build/
dist/
bin/
Debug/
Release/

# PlatformIO
.pio/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Logs / temp
*.log
*.tmp

# Models / checkpoints
*.h5
*.pt
*.pth
*.onnx
*.ckpt
models/
checkpoints/
#training data
*.jpg